Footer.module.css
.footer {
    background-color: #58595a; /* Mismo color que el navbar */
    padding: 1rem 2rem; /* Espaciado interno */
    text-align: center; /* Centrar el texto */

    
  }
  
  .content {
    display: flex;
    flex-direction: column; /* Alinear contenido en columna */
    align-items: center; /* Centrar horizontalmente */
    margin-top: auto;
    color: rgb(109, 148, 160)
  }
  
