.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto; /* 4 columnas para los datos y 1 para el botón */
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 10px; /* Espacio entre columnas */
  margin-top: 20px; /* Separación superior */
  padding: 0 30px; /* Agrega 20px de espacio en los lados izquierdo y derecho */
}


.paragraph {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: gray;
}

.button {
  background-color: rgb(129, 129, 146);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  justify-self: start; /* Alinea el botón a la izquierda */
}
