.navbar {
  background-color: #dadddf; /* Color de fondo */
  padding: 1rem 2rem; /* Espaciado interno */
  display: flex; /* Para alinear elementos en fila */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Centrar verticalmente */
}

.linkContainer {
  display: flex; /* Contenedor para los enlaces */
  gap: 1rem; /* Espacio entre los enlaces */
}

.link {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(80, 179, 212); /* Color del texto de los enlaces */
  padding: 0.5rem 1rem; /* Espaciado interno */
  text-decoration: none; /* Asegúrate de que no haya subrayado por defecto */
  position: relative; /* Necesario para posicionar el pseudo-elemento ::after */
}

.link::after {
  content: ""; /* Pseudo-elemento vacío que será la línea */
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: -5px; /* Ajusta la distancia del subrayado al texto */
  height: 2px; /* Ajusta el grosor de la línea */
  background-color: rgb(80, 179, 212); /* Color del subrayado */
  transform: scaleX(0); 
  transform-origin: left;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1); 
}

.navbar img {
  margin: 0 2rem; /* Espacio a la izquierda y derecha de las imágenes */
}

/* Estilos para el botón "Salir" */
.logoutButton {
  font-family: inherit; /* Hereda la fuente del enlace */
  font-size: inherit; /* Hereda el tamaño de la fuente del enlace */
  color: rgb(80, 179, 212); /* Color del texto */
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  padding: 0.5rem 1rem; /* Espaciado interno igual que los enlaces */
  text-decoration: none; /* Sin subrayado */
  line-height: 1.5; /* Asegúrate de que coincida con los enlaces */
}

.logoutButton:hover {
  text-decoration: underline; /* Opcional: subrayado al pasar el ratón */
}
